@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

html,
body {
  width: 100vw;
  height: 100vh;
  padding: 0px;
  position: absolute;
  font-family: "Noto Sans";
  overflow-x: hidden;
}

.movie {
  margin: 10px;
  margin-top: 20px;
  align-self: center;
}

.noMovie {
  height: 65vh;
}

.hoverBlack {
  overflow: hidden;
}

.hoverBlack:hover {
  color: black;
}
.root-footer {
  position: absolute;
  height: fit-content;
  margin-left: 0;
  margin-bottom: 0;
  width: 100vw;
  text-align: left;
  overflow: hidden;
  font-family: "Noto Sans";
}